.footer {
  background-color: #0a0f1d;
  border-top: 1px solid rgba(0, 255, 204, 0.15);
  color: #00ffe1;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  height: 4vh;
  overflow: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 10px 50px;
  align-items: center;
  position: relative;
}

.footer-right {
  position: absolute;
  top: -18px;
  right: 0;
}

.logo {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(0.999);
}


@media (max-width: 628px) {
  .footer-container {
    flex-direction: column;
    margin: 0;
  }

  .footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .footer-left {
    text-align: center;
  }

  .footer-right {
    display: none;
  }
}